<div id="admob_ad"></div>
<br/>
<img src="images/total.png"/>

<div id="radioButton" x-mojo-element="RadioButton"></div>

<input type="text" id="entrada"/>
<div x-mojo-element="Button" id="shorten"></div>

<input type="text" id="saida"/>
<div x-mojo-element="Button" id="copy"></div>

<div id="loading">Shortening url (...)</div>
<div x-mojo-element="Button" id="cancel"></div>

<img src="images/clean.png" id="clean"/>

<div id="info"><a href="http://www.arcticapps.com/"><img src="images/icon.png"/><br/>Arctic Apps. Know our mobile applications.</a></div>
